* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background: #dadada;
}

.content {
    width: 1048px;
    height: 590px;
    margin: 50px auto;
}

.imageFeatures {
    position: relative;
    height: 85%;
}

.imageFeatures img {
    transition: 1s;
}

.imageFeatures .control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 50px;
    cursor: pointer;
}

.next {
    right: 10px;
}

.prev {
    left: 10px;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.listImage {
    display: flex;
}

.listImage .image-item {
    flex: 1;
    padding: 5px;
    cursor: pointer;
}

.active {
    background-color: rgb(220, 86, 86);
}

@keyframes slidePrev {
    0% {
        transform: translateX(100%);
    }

     100% {
        transform: translateX(0%);
     }
}
